{
    "source": {
        "directories": [
            "src\/**"
        ]
    },
    "logs": {
        "text": "tmp\/infection.log",
        "summary": "tmp\/summary.log",
        "perMutator": "tmp\/per-mutator.md"
    },
    "mutators": {
        "@default": true
    }
}
